.details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first {

    width: 100%;
    height: 100%;
    background-color: rgb(105, 107, 66);
}

.first .data {
    margin-top: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5em 20%;
}

.first h1 {
    margin-right: auto;
}

.first img {
    margin-left: auto;
    max-width: 30%;
    border-radius: 50%;
    width: 80%;
    height: 80%;
}

.skills-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    width: 100%;
}

.skills {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.skills h4 {
    background-color: grey;
    padding: 1em;
    border-radius: 25px;
}

/* links */
.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(68, 140, 81, 0.515);
    padding: 1.6em;
    gap: 2em;
    width: 100%;
}

.links .group-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1em;
}

.links .group-link img {
    width: 10em;
    border-radius: 100%;
}

.links .group-link h3 {
    padding-top: 1.5em;
}

.links .group-link a {
    text-decoration: none;
    background-color: lightgreen;
    padding: .5em;
}

.links .group-link a:hover {
    text-decoration: underline;
    background-color: rgb(43, 151, 43);
    box-shadow: 2px 2px 5px 0 black;
    color: white;
    padding: .5em;
}