#root {
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.main {
    background-image: url('../images/mainbackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 40%;
    flex-grow: 1;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main h1 {
    margin: 0;
    font-size: 2em;
    background-color: rgba(240, 248, 255, 0.409);
    padding: 0.3em;
    border-radius: 15px;
}

.main p {
    position: absolute;
    bottom: 10px;
    left: 2rem;
    font-size: 1.4em;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    align-self: flex-start;
}

.second-main {
    background-color: #00ffff;
    width: 100%;
    height: 73%;
    padding: 1em 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 0.5;
}

.sec-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1em;
}

.second-main>h1 {
    text-align: center;
    margin-bottom: 1em;
}

.profile-data,
.short-info {
    flex: 1;
    padding: 1em;
    box-sizing: border-box;
    text-align: center;
}

.wrapper {
    display: flex;
    max-width: 43em;
    width: 100%;
    height: 24em;
    background: #fff;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.wrapper i.button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 2.5em;
    width: 2.5em;
    background-color: #343f4f;
    border-radius: 50%;
    text-align: center;
    line-height: 2.5em;
    color: #fff;
    font-size: 15px;
    transition: all 0.3s linear;
    z-index: 100;
    cursor: pointer;
}

i.button:active {
    transform: scale(0.94) translateY(-50%);
}

i#prev {
    left: 1.8em;
}

i#next {
    right: 1.8em;
}

.image-container {
    max-width: 31em;
    width: 100%;
    overflow: hidden;
}

.image-container .carousel {
    display: flex;
    height: 100%;
    width: max-content;
    transition: all 0.4s ease;
}

.carousel img {
    width: 31em;
    height: 21.4em;
    object-fit: cover;
    border-radius: 18px;
    border: 10px solid #fff;
}

footer {
    width: 100%;
    background-color: #343f4f;
    color: #fff;
    text-align: center;
    font-size: 20px;
    padding: 1.35em 0;
}

footer p {
    margin: 0;
}

footer a {
    text-decoration: underline;
    color: white;
}

@media (max-width: 1000px) {
    .sec-wrapper {
        flex-direction: column;
    }

    .main {
        height: 30%;
    }

    .main h1 {
        font-size: 1.5em;
    }

    .main p {
        margin-left: 0.5em;
        font-size: 1em;
    }
}

@media (max-width: 768px) {
    .wrapper {
        height: 50vw;
    }

    .main p {
        left: 0;
    }
}

@media (max-width: 480px) {
    .wrapper {
        height: 60vw;
    }

    i.button {
        height: 2em;
        width: 2em;
        font-size: 12px;
    }

    .carousel img {
        width: 31em;
        height: 21.4em;
    }

    .main {
        height: 20%;
    }
}